.main__container {
    background-image: url(/assets/images/background-homepage.jpg) ;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
  }
  
  .login-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px #2E0219;
    width: 40%;
    height: 80%;
  }
  
  .login-welcome-screen {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5 5;
    /* background: linear-gradient(#42A8F2, #7611f9); */
  }
  
  .login-content {
    flex: 3 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    display: flex;
    flex-flow: column;
    width: 80%;
  }
  
  .login__illustration {
    padding-top: 20px;
    text-align: center;
  }
  
  .login-welcome-text {
    color: #2E0219;
    letter-spacing: 0.03rem;
    margin-bottom: 6rem;
    animation-duration: 2s;
  }
  
  .login-input {
    margin: 0.75rem 0;
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    box-shadow: 0 0 20px #fff0f8;
    animation-duration: 2s;
  }
  
  .login-input:hover {
  
    box-shadow: 0 0 10px rgb(238, 125, 165);
  }
  
  .login-btn {
    background: grey;
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 1rem;
    animation-duration: 2s;
  }
  
  .login-btn:hover {
    background: linear-gradient(to left, #F22F73, #ac0202);
  }
  
  .login-input::placeholder {
    color: #2e2e2e;
    font-size: 0.9rem;
  }
  
  .signup-notice {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    font-size: 1rem;
  }
  
  .signup-link {
    text-decoration: none;
    color: #ff3a82;
    font-size: 2 rem;
  
  }
  