<div class="main__container">
  <div class="login-card">
    <main class="login-content">

      <h1 class="login-welcome-text">Insert your data!</h1>

      <form (submit)="signup()" method="post" class="login-form">
        <input type="text" autofocus placeholder="Username" name="username" class="login-input">
        <input type="password" placeholder="Password" name="password" class="login-input">
        <input type="location" placeholder="Address" name="location" class="login-input">
        <input type="age" placeholder="Age" name="age" class="login-input">

        <input type="submit" name="submit" placeholder="Sign In" class="login-btn">
      </form>

    </main>
  </div>
</div>