<div class="bg-img">

      <section class="section">
          <div class="container has-text-centered is-dark">
            <br><br><br><br><br><br>
              <h2 class="title">Welcome to My Lib</h2>
              <p>Welcome to our online system managemet library! Now you can enjoy the many books made available by us just by clicking on the book you want. </p>
              <br><br>
              <p>Feel free to contact us for any problem!</p>
            <br><br><br><br><br><br><br><br><br>
         
          </div>
      </section>
      
    </div>
<footer>
  <div class="footer-style">
    <div class="content has-text-centered is-small">
        <strong>My Lib</strong> app. 
        <strong>Online Library System Management.</strong>
  </div>
</div>
</footer>