.bg-img { 
        background-image: url(/assets/images/background-homepage.jpg) ;
        background-position: center center;
        background-repeat:  repeat;
        background-attachment: fixed;
        height: 100%;
        background-size:  cover;
        background-color: grey;
}
.footer-style {
  background-color: grey;
  padding: 8px;
  text-align: center;
  color: white;
}